PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres.sinnlmnrvnnjnqpttpje:collab0710pfs@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
REDIS_URL=
JWT_SECRET=b30e92a7e91ef046dd9fb804cf427f5527f6e088f4453b2dca66c789dd62f046
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173
